
body{
	background: url("../images/lines.jpg");

}

* {
  box-sizing: border-box;
}

.container{
background-color: darksalmon;

margin-top:5%;
margin-left:15%
margin-right:15%;
margin-bottom:5%;
text-align: left;
padding-left:10%;
padding-bottom:8%;
padding-top:6%;
width:70%;
opacity: .9;
}

img{
	width:90%;
}

.radio{

	text-align:match-parent;
}

#title{
	font-size:50px;
	font-family: 'Bungee', cursive;
}

#show-number{
	padding-left:20%;
}

.results{
	width:50%;
	margin-left:15%;
	text-align:center;

}

#startButton{
	margin:20px;
	margin-left:35%;
}